.App {
  display: grid;
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sub-container{
  display: grid;
  row-gap: 3px;
}
.sub-container>button{
  height: 40px;
  width: 300px;
}


.sub-container>button a{
  text-decoration: none;
}

.sub-container>img{
  height: 40%;
  justify-self: flex-end;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

p{
  padding: 0;
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-container{
  display: flex;
  column-gap: 10px;
}


.UnderDevelopment-PageView{
  margin: 20px 40px ;
  text-align: left;

}


.ParishViewPage{
  display: grid;
  background-color: white;

}

.ParishViewPage>header{
  display: grid;
  grid-template-columns: 50px 1fr;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #79A27D;
  justify-items: center;

}

.ParishViewPage>header h1 {
  margin-left: -50px;
  color: white;
}

.ParishViewPage>main ul{
  display: grid;
}

.ParishViewPage>main ul li{
  display: grid;
  padding: 20px  40px;
  text-align: left;
  row-gap: 20px;
}

.ParishViewPage>main ul li h2{
  font: 2em sans-serif;
  color: #79A27D;
}

.ParishViewPage>main ul li h3, .ParishViewPage>main ul li h4{
  font: 1.3em sans-serif;
}